@charset "UTF-8";

* {box-sizing:border-box}

.arrow2ndSlide {
	position:relative;
	cursor:pointer;
	top:680px;
	width:100%;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	overflow:visible;
    
}

/* Slideshow container */
.slideshow-container {
  padding-top: 20px;
  max-width: 85%;
  max-height: 80%;
  position: relative;
  margin: auto;
	
}

/* Hide the images by default */
.mySlides {
    display: none;
	text-align: center;
	margin:auto;
}

.mySlides:first-child {
	display:block;
}

/*titel*/
.titel {
	text-align: center;
	padding-top:20px;
	margin-left: auto;
	margin-right:auto;
}

.lijn {
	margin-top:-15px; 
	padding-right:10px;
}
	


.prev2ndslide {
 padding-right: 10px;
	
}

.homebutton {
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	
}

/* Next & previous buttons */
.prev, .next {

  cursor: pointer;
  position:absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 50px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	
  right:  0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  color:#C683AB;
  font-size: 15px;
  top:40px;
  width: 100%;
  text-align:center;
  font-weight: 500;
  padding-left:10px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#collage {
	padding-top:40px;
}

#memphis1 {
	padding-left:30px;
}

#money {
	padding-top:40px;

}

#vivetta2 {
	padding-right:20px;
}

#raket {
	padding-top:110px;
}

#bijdehand {
	padding-top:120px;
}

#reis {
	padding-top:30px;
	padding-bottom:20px;
}

#wes {
	padding-top:40px;
}

#barbie {
	padding-top:40px;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 750px)
	
{
	.volgende, .terug {
	display:block;
	width:60%;
	margin-top:-30px;
	}

	.titel2 {
		width:12%;
	}
	
	
	.slideshow-container {
		position:fixed;
		top:30%;
		margin-left:65px;
	}
	
	.homebutton2 {
		width:5%;
	}
	
	.lijn2 {
		width:20%;
	}

	
}


